.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__box {
  margin: auto;
  margin-top: 195px;
  height: 330px;
  width: 430px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.modal__container {
  width: 358px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000;
  padding-top: 34px;
  margin: 0 0 54px 0;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0 0 48px 0;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 29.74px;
  height: 27.26px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
}

.modal__input:last-of-type {
  margin-bottom: 0;
}

.modal__save {
  background: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.21;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 50.15px;
  margin: 0 0 36.51px 0;
  border: none;
  border-radius: 2px;
  padding: 0;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s linear;
}

.modal__save:hover {
  opacity: 60%;
}

.modal__close {
  position: absolute;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
  background: transparent url(../images/close-icon.svg) center no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s linear;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__image-preview {
  margin: auto;
  margin-top: 90px;
  position: relative;
  height: auto;
  width: auto;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 75vh;
}

.modal__image-text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #fff;
  margin: 10px 0 0 0;
}

@media screen and (min-width: 320px) and (max-width: 582px) {
  .modal__box {
    margin-top: 123px;
    width: 282px;
    height: 322px;
  }

  .modal__container {
    width: 238px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 1.21;
    padding-top: 25px;
    margin-bottom: 75px;
  }

  .modal__fieldset {
    margin-bottom: 45px;
  }

  .modal__save {
    height: 46px;
    margin-bottom: 25px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    left: 87%;
    bottom: calc(100% + 14px);
  }
}
