.profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.795%;
  align-items: center;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__name {
  color: #fff;
  margin: 0 0 7px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14285714;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  color: #fff;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__edit-button {
  background: transparent url("../images/edit-button.svg") center no-repeat;
  height: 24px;
  width: 24px;
  border: solid white 1px;
  margin-left: 18px;
  margin-right: 75px;
  align-self: center;
  grid-area: button;
  opacity: 100%;
  transition: opacity 0.5s linear;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url("../images/add-button.svg") center no-repeat;
  height: 50px;
  width: 150px;
  border: solid white 2px;
  margin-left: auto;
  opacity: 100%;
  transition: opacity 0.5s linear;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (min-width: 320px) and (max-width: 582px) {
  .profile {
    flex-direction: column;
    margin-bottom: 11.25%;
    max-width: 282px;
    margin: auto;
  }

  .profile__image {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 36px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.21;
    margin-bottom: 14px;
    text-align: center;
  }

  .profile__description {
    text-align: center;
    font-size: 14px;
    width: 100%;
  }

  .profile__edit-button {
    margin-left: 7px;
    align-self: baseline;
    margin-right: 0;
  }

  .profile__add-button {
    width: 100%;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 583px) and (max-width: 881px) {
  .profile__description {
    max-width: 250px;
  }
}
